## if hasImports
## for imp in imports
#include "{{ imp/importName }}.hpp"

## endfor
{##}

## endif
namespace {% for i in modulePath %}{% if loop/is_first %}{{ i }}{% else %}::{{ i }}{% endif %}{% endfor %}
{
#pragma pack(push, 1)

## for dat in data
{##}
    struct {{ dat/name }}
    {
    public:{%
for attrib in dat/attributes %}
        {% if attrib/hasSpecifier %}{% if attrib/specifier == "optional" %}boost::optional<{% else %}std::vector<{% endif %}{% endif %}{{ attrib/type }}{% if attrib/hasSpecifier %}>{% endif %} {{ attrib/name }};{%
endfor %}
    };

## endfor
## if hasMessages
{##}
## for msg in messages
{##}
    class {{ msg/name }}
    {
    public:{%
for attrib in msg/attributes %}
        {% if attrib/hasSpecifier %}{% if attrib/specifier == "optional" %}boost::optional<{% else %}std::vector<{% endif %}{% endif %}{{ attrib/type }}{% if attrib/hasSpecifier %}>{% endif %} {{ attrib/name }};{%
endfor %}
    };

## endfor
## endif
{##}
#pragma pop
}