## for enum in enums
Enum {{ enum/name }}, {% if hasAnnotation(enum, "anno") %}anno({% annotationValue(enum, "anno") %}), {% endif %}{{ enum/alignment }}, 
## for value in enum/values
{{ value/name }} 
## endfor
## endfor


## for dat in data
## for attrib in dat/attributes
{{ hasSpecifier(attrib, "repeated") }} 
## endfor
## endfor


## for msg in messages
## if hasAnnotation(msg, "anno")
{{ annotationValue(msg, "anno") }}, 
## endif
{{ msg/name }}, 
## for attrib in msg/attributes
{{ attrib/name }}(
## if isUserDefined(attrib/type)
ud
## endif
## if isUserDefinedData(attrib/type)
, udd
## endif
) 
## endfor
## for value in getAnnotationsWithName(msg, "foo")
{{ value }} 
## endfor
## endfor