{% for enum in enums
%}Enum #{{ loop/index1 }} - {{ enum/name }}:
    Alignment: {{ enum/alignment }}
    Values:{%
for value in enum/values %}
        #{{ loop/index1 }} - {{ value/name }} = {{ value/value }}{%
endfor %}

{% endfor
%}--------------------------------------------------

{% for dat in data
%}Data #{{ loop/index1 }} - {{ dat/name }}:
    Attributes:{%
for attrib in dat/attributes %}
        #{{ loop/index1 }} - {% if attrib/hasSpecifier %}{{ attrib/specifier }}, {% endif %}{{ attrib/type }}, {{ attrib/name }}{%
endfor %}

{% endfor
%}--------------------------------------------------

{% for msg in messages
%}Message #{{ loop/index1 }} - {{ msg/name }}:
    Attributes:{%
for attrib in msg/attributes %}
        #{{ loop/index1 }} - {% if attrib/hasSpecifier %}{{ attrib/specifier }}, {% endif %}{{ attrib/type }}, {% if attrib/hasArraySize %}{{ attrib/arraySize }}, {% endif %}{{ attrib/name }}{% if attrib/hasDefaultValue %}={{ attrib/defaultValue }}{% endif %}{%
endfor %}
{% endfor %}